.main-wrapper {
    position: relative;
}

/*Get Paid Quickly Section*/

.get-paid-quickly {
    position: relative;
    background-image: url('../images/room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 500px;
    background-position: center;
}

.form-get-paid-quickly {
    height: 420px;
    border-radius: 8px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
    transform: translatey(25%);
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 40px;
    z-index: 5;
}

.get-paid-quickly-text-section {
    /* margin-top: 60px; */
    z-index: 6;
}

.Rounded {
    background-color: rgb(215, 240, 232);
    /* opacity: 25%; */
    border-radius: 20px 20px 20px 20px;
    padding: 7px;
}

.second-part-of-first {
    margin-top: 70px;
}

.icon-of-item-first-section {
    color: #6278df;
    font-size: 2rem;
    margin-right: 1rem;
    border-radius: 10px;
    border-color: gray;
}

.fa-circle:before {
    border-color: gainsboro;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 26px;
}

.home-icon::before {
    border-color: gainsboro;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
}

.BlueCover {
    background-color: midnightblue;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 10px;
}

.ikona-ikona {
    color: green;
    /* font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px; */
}

.ikona-ikona-Q {
    color: green;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.input-style {
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.1);
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -1px;
    transition: all 0.3s ease-in-out;
}

.sentBtn {
    position: relative;
    border: 0px;
    margin: 0;
    box-shadow: 2.5px 4.33px 30px 0 white;
    color: #6278df;
    padding: 15px 30px;
    border-radius: 6px;
    color: white;
}

.titulli-span-section2 {
    margin-top: 100px;
}

@media(max-width: 991px) {
    .elementet .second-part-of-first {
        transform: translateY(100%);
    }
    .elementet2 .elementet2-inside {
        transform: translateY(25%);
    }
    .elementet3 {
        transform: translateY(30%);
    }
    .our-blog-section {
        transform: translateY(18%);
    }
    .footer-area {
        transform: translateY(1810%);
    }
}

@media(max-width:524px) {
    .form-get-paid-quickly {
        transform: translateY(4%);
        height: auto;
    }
}

@media(max-width: 524px) {
    .elementet .second-part-of-first {
        transform: translateY(90%);
    }
    .elementet2 .elementet2-inside {
        transform: translateY(28%);
    }
}

.housing-steps-image-info-area {
    position: relative;
}

.responsive {
    width: 100%;
    /* height: auto; */
}

.responsive2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media(max-width:770px) {
    .elementet .second-part-of-first {
        flex-direction: column;
    }
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #6278df;
    border-radius: 250%;
    /* display: inline-block; */
}

.elementet3 {
    position: relative;
}

.responsive3 {
    border-radius: 10px;
}

.features-item:nth-child(odd) .image-element-section3 {
    order: 0;
}

.features-item:nth-child(even) .image-element-section3 {
    order: 1;
}

@media(max-width: 992px) {
    .features-item .image-element-section3 {
        order: 4;
    }
    .features-item .text1-element-section3 {
        order: 3;
    }
}

@media(max-width: 992px) {
    .responsive3 {
        width: 100%;
        margin-bottom: 50px;
    }
}

.card-image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.darkCover {
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 10px;
}

.card-edited {
    position: relative;
    background-image: url('../images/livingRoom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #888888;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card-edited:hover .overlay {
    height: 100%;
    animation-duration: 0.1s;
}

.card-edited:hover .small-image {
    /* animation-name: image-animated; */
    animation: imageanimated 0.1s forwards;
    animation-delay: 0.2s;
}

@keyframes imageanimated {
    0% {
        bottom: 70px;
        left: 14px;
        z-index: 0;
        right: 0;
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        bottom: 285px;
        left: 250px;
        right: 15px;
        z-index: 11;
        opacity: 1;
    }
}

.rounded-icon {
    background-color: rgb(192, 231, 231);
    /* opacity: 25%; */
    border-radius: 200px;
    padding: 15px;
}

.img-ready {
    position: relative;
    background-image: url('../images/hand.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 350px;
    background-position: center;
    /* background-position-y: -11%; */
}

.numbers-on-icon {
    transform: translate(17px, -22px);
    color: white;
    font-size: small;
    z-index: 10;
    position: absolute;
}

.triangle-right {
    height: 0;
    transform: translate(28px, 20px);
    color: white;
    border-top: 4px solid transparent;
    border-left: 13px solid #f7f4f4;
    border-bottom: 4px solid transparent;
}

.social-media-icons {
    color: #6278df;
    font-size: 2rem;
    margin-right: 1rem;
    border-radius: 10px;
}

@media(max-width: 992px) {
    .more-about-company-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:1300px) {
    .our-blog-section .overlay {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .card-edited .overlay {
        height: 100%;
        animation-duration: 0.1s;
    }
    .card-edited .small-image {
        animation: imageanimated 0.1s forwards;
        animation-delay: 0.2s;
    }
}

@media (max-width: 992px) {
    .more-about-company-services .logoSocialMedia {
        text-align: center;
    }
    @media(max-width: 485px) {
        .buttons-with-icons-banner {
            margin-top: 44px;
        }
    }
}

.elementet3 {
    background-image: linear-gradient(to bottom, #F0FFF0, white);
}

.ul-edited {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .logoSocialMedia {
    width: 25%;
}

@media (min-width: 576px) {
    .logoSocialMedia {
        width: 100%;
    }
} */

/* .col-sm-12{
    margin-left: 20px;
} */

@media(max-width:1300px) {
    .user-image-card {
        /* position: absolute;
        z-index: 99999;
        top: 87px; */
        right: 15px;
        position: absolute;
        z-index: 99999;
        top: 136px;
        right: 15px;
    }

/*media query per nje img koti*/

@media (max-width:1300px) and (min-width:997px) {
    .user-image-card {
        position: absolute;
        z-index: 99999;
        top: 136px;
        right: 15px;
    }
}

@media(max-width:997px) and (min-width:772px) {
    .user-image-card {
        position: absolute;
        z-index: 99999;
        top: 90px;
        right: 11px;
    }
}

@media(max-width:772px) and (min-width:765px) {
    .user-image-card {
        position: absolute;
        z-index: 99999;
        top: 96px;
        right: 12px;
    }
}

@media(max-width:765px) and (min-width:574px) {
    .user-image-card {
        position: absolute;
        z-index: 99999;
        top: 260px;
        right: 30px;
    }
}

@media(max-width:574px) and (min-width:441px) {
    .user-image-card {
        position: absolute;
        z-index: 99999;
        top: 265px;
        right: 30px;
    }
}

@media(max-width:441px) and (min-width:0px) {
    .user-image-card {
        position: absolute;
        z-index: 99999;
        top: 170px;
        right: 30px;
    }
}

/*End of media query per nje img koti*/

.user-image-card img {
    position: initial!important;
    bottom: initial!important;
    left: initial!important;
}

.card-edited .small-image {
    animation: initial!important;
}

}